
<!DOCTYPE html>

<html lang="en-GB" ng-app="CorporateUI">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=”robots” content=”noindex”>
 
  <meta charset="utf-8">
  <noscript>
    <meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html">
  </noscript>

  <title>Corporate UI - Developers</title>

  <script src="https://static.scania.com/build/global/master/js/corporate-ui.js"></script>

  <script src="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"></script>

  <link rel="stylesheet" href="https://static.scania.com/build/global/master/css/ux-library.css">
  <link rel="stylesheet" href="/corporate-ui-docs/ux-lib.css">  
</head>
<body data-env="Test" class="scania ux-lib" data-env="Test" ng-controller="UxLib as uxlib">

  <c-corporate-header site-name="Master Branch" site-url="/corporate-ui-docs/master-branch/">
    <nav-item location="/corporate-ui-docs/master-branch/developer/support.html">Support</nav-item>
    <nav-item location="https://github.com/scania/corporate-ui-docs">Master Docs @ GitHub</nav-item>
  </c-corporate-header>
  
  <c-main-content>
    <c-main-navigation>
      <primary-items>
        <nav-item location="/corporate-ui-docs/master-branch/">Home</nav-item>
        <nav-item location="/corporate-ui-docs/master-branch/styleguide/">Style Guide</nav-item>            
        <nav-item location="/corporate-ui-docs/master-branch/developer/" class="active">Web Applications
          <sub-navigation caption="Web Applications">
            <nav-item location="/corporate-ui-docs/master-branch/developer/">Corporate UI</nav-item>
            <nav-item location="/corporate-ui-docs/master-branch/developer/corporate-ui-for-frameworks.html">JS Frameworks</nav-item>
            <nav-item location="/corporate-ui-docs/master-branch/developer/scania-bootstrap.html">Scania Bootstrap</nav-item>            
            <nav-item location="/corporate-ui-docs/master-branch/component/index.html" class="active">Components</nav-item>
            <nav-item location="/corporate-ui-docs/master-branch/developer/support.html">Support</nav-item>
          </sub-navigation>
        </nav-item>
        <nav-item location="/corporate-ui-docs/master-branch/mobile-apps/">Mobile Apps</nav-item>
      </primary-items>
    </c-main-navigation>

    <section class="light">
      <div class="container" ng-cloak>
        <h2>Scania<br />Components</h2>
        <p>Use these pre built components to inherit the fundamental Scania DNA to your application. This goes both for the graphic design as well as the patterns recognition. End users prefere to use established interaction patterns.</p>

        <div class="main-item">
          <h5>
            <i ng-class="'icon-' + category.name" class="outline md"></i>
            All components
          </h5>
          <div class="row">
            <!-- We ignore listing of main-content -->
            <div ng-repeat="component in uxlib.components" class="col-sm-3 col-xs-6 component" ng-if="component.name !== 'main-content' && !component.extension">
              <a href="component.html?c={{component.name}}">{{component.name}}</a>
              <span>{{component.variations}} variations</span>
            </div>
          </div>
        </div>
      </div>
    </section>

  </c-main-content>

  <c-corporate-footer></c-corporate-footer>

  <script src="https://static.scania.com/vendors/frameworks/angular/1.5.5/angular.min.js"></script>

  <script>
    angular.module('CorporateUI', [])
      .controller('UxLib', [UxLib]);

    function UxLib() {
      var vm = this;
      vm.components = window.CorporateUi.components;
    }
  </script>

  <script src="https://static.scania.com/build/global/master/js/ux-library.js"></script>
  <script src="/corporate-ui-docs/ux-lib.js"></script>      
</body>
</html>