<!DOCTYPE html>
<html lang="en-GB" ng-app="CorporateUI">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="utf-8">
  <noscript>
    <meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html">
  </noscript>
  <script src="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"></script>
  <script src="https://static.scania.com/vendors/frameworks/jQuery/1.11.3/jquery-1.11.3.min.js"></script> 
  <title>Corporate UI - Angular Basic Template</title>

  <script src="https://5c5050e66adb070007c2761f--peaceful-poitras-f0d571.netlify.com/dist/js/corporate-ui.js?preload=false"></script>

<style>

  .navbar-default .dropdown-menu {
    -webkit-box-shadow: 0 9px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 9px 12px rgba(0, 0, 0, .175);
    overflow-y: auto;
  }

  sub-navigation nav-item ul.dropdown-menu a:after {
    border-bottom: none;
  }

  sub-navigation nav-item ul.dropdown-menu  {
    background-color: #f5f5f5;
  }



      

  a:focus {
    outline: 0;
  }

</style>

<!--   <script>
    setTimeout(function(){
        var items = document.querySelectorAll('nav-item');

        for(var i=0; i<items.length; i++) {
            var item = items[i];
            if (!((item.attributes.location && item.attributes.location.value) || item.querySelector('a').href)) {
                item.onclick = function(event) {
                    event.preventDefault();
                }
            }
        }
    }, 300);
  </script> -->


</head>

<body data-env="Test" class="scania app" ng-controller="ThisSite as thissite">

  <c-corporate-header site-name="UX Library" site-url="/corporate-ui/">
    <nav-item location="/corporate-ui/">UX Library</nav-item>
  </c-corporate-header>
    
  <c-main-content>
    <c-main-navigation ng-cloak>
      <primary-items>
        <nav-item ng-repeat="item in thissite.items" location="{{item.url}}" nav-item="item" active="{{item.active}}" ng-click="thissite.changeView($event, item)"></nav-item>
 
        <nav-item location="#" class="active">Sub menu
            <sub-navigation caption="Style Guide">
              <nav-item location="/corporate-ui-docs/logotype/">Logotype</nav-item>
              <nav-item location="/corporate-ui-docs/icons/">Icons</nav-item>
              <nav-item location="/corporate-ui-docs/colours/">Colours</nav-item>
              <nav-item>
                  <div class="dropdown">
                  <a data-toggle="dropdown" href="#">Dropdown</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <li><a href="">Home</a></li>
                      <li><a href="">Home2</a></li>            
                      <li><a href="">Home4</a></li>
                    </ul>
                  </div>
              </nav-item>
            </sub-navigation>  
        </nav-item>  
      </primary-items>
      <secondary-items>
          <nav-item class="active">
            <div class="dropdown">
            <a data-toggle="dropdown" href="#">Dropdown 1</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="">Home</a></li>
                <li><a href="">Home2</a></li>            
                <li><a href="">Home4</a></li>
              </ul>
	        </div>
	      </nav-item>
          <nav-item>
            <div class="dropdown">
            <a data-toggle="dropdown" href="#">Dropdown 2</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a href="">Home</a></li>
                <li><a href="">Home2</a></li>            
                <li><a href="">Home4</a></li>
              </ul>
          </div>
        </nav-item>         
      </secondary-items>
    </c-main-navigation>

    <section class="light">
      <div class="container">
        <article>
        <h2>Angular Corporate UI Demo</h2>
          <p>This is a demopage using AngularJS togheter with Corporate UI. Populating the main navigation can be solved in meny differnet ways and this is a very basic sample. It is not intended to use "as is" rather than to give you ideas and samples of how to pair Corporate UI with the framework of your choice. Use <a href="/corporate-ui-docs/developer/bootstrap-original-docs.html">Scania Bootstrap</a> to apply the Scania Brand Identity to your application.</p>
          <p>Learn why <a href="/corporate-ui-docs/developer/uiaas.html">you shouldn't include Corporate UI in your build</a> rather than fetch it from the Scania CDN in real time.</p> 
          <a href="angular-basic-template.html" download class="btn btn-default btn-lg">Download this template</a>
        </article>  
      </div>
    </section>

  </c-main-content>

    <c-corporate-footer>
      <c-social-media>
       <nav-item icon="facebook" onclick=window.open("https://www.facebook.com/scaniagroup/")></nav-item>
       <nav-item location="#" icon="twitter"></nav-item>
       <nav-item location="#" icon="youtube"></nav-item>
       <nav-item location="#" icon="linkedin"></nav-item>
     </c-social-media>

      <nav-item location="/corporate-ui-docs/developer/support.html">Support</nav-item>
      <nav-item location="mailto:corporate-ui@scania.com">Contact</nav-item>

    </c-corporate-footer>

  <script src="https://static.scania.com/vendors/frameworks/angular/1.5.5/angular.min.js"></script>

  <script>
    angular.module('CorporateUI', [])
      .controller('ThisSite', [ThisSite])
      .directive('navItem', navItem);

    function ThisSite() {
      var vm = this;

      vm.items = [
        { name: 'Home', location: '/corporate-ui/', active: true },
        { name: 'Style Guide', location: '/corporate-ui/styleguide/', children: [
          { name: 'Logotype', location: '/corporate-ui/logotype/' },
          { name: 'Icons', location: '/corporate-ui/icons/' },
          { name: 'Colours', location: '/corporate-ui/colours/' },
          { name: 'Typography', location: '/corporate-ui/typography/' }
        ] },
        { name: 'Web Applications', location: '/corporate-ui/developer/', children: [
          { name: 'Corporate UI', location: '/corporate-ui/developer/' },
          { name: 'Caching', location: '/corporate-ui/developer/caching.html' },
          { name: 'Scania Bootstrap', location: '/corporate-ui/developer/scania-bootstrap.html' },
          { name: 'Support', location: '/corporate-ui/template/html-copy-paste/html-copy-paste.html' }
        ] },
        { name: 'Mobile Apps', location: '/corporate-ui/mobile-apps/' },
        { name: 'Report an Issue', location: '/scania/corporate-ui/issues' },
        { name: 'Support', location: '/corporate-ui/developer/support.html' }
      ];

      vm.changeView = function($event, target) {
        $event.preventDefault();
        for(i in vm.items) {
          var item = vm.items[i];
          delete item.active;
        }
        target.active = true;
      }
    }
    function navItem() {
      return {
        restrict: 'A',
        scope: {
          item: '=navItem'
        },
        template: '{{item.name}} \
          <sub-navigation caption="{{item.name}}" ng-if="item.children">\
            <nav-item ng-repeat="subItem in item.children" location="{{subItem.location}}" nav-item="subItem"></nav-item>\
          </sub-navigation>'
      }
    }

    window.CorporateUi.baseComponents();

  </script>

</body>
</html>
