<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<noscript><meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html"></noscript>

	<title>Corporate UI - Minimum Template</title>
	<script src="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"></script>

	<script src="https://static.scania.com/vendors/frameworks/jQuery/2.2.2/jquery.min.js"></script>
	<script src="https://5c5050e66adb070007c2761f--peaceful-poitras-f0d571.netlify.com/dist/js/corporate-ui.js"></script>

</head>

<body data-env="Test" class="scania">

	<c-corporate-header site-name="My New Application" site-url="/corporate-ui-docs/">
		<nav-item location="https://www.scania.com">Sample Link</nav-item>
	</c-corporate-header>

	<c-main-content>

		<c-main-navigation>
			<primary-items>
				<nav-item location="https://www.scania.com/ux-library">Home</nav-item>
				<nav-item location="https://scania.github.io/corporate-ui-docs/developer/" class="active">Web Applications
					<sub-navigation caption="Templates">
						<nav-item location="https://scania.github.io/corporate-ui-docs/template/basic-template-app.html">Application Template</nav-item>
						<nav-item location="https://scania.github.io/corporate-ui-docs/template/basic-template.html" class="active">Public site Template</nav-item>
						<nav-item location="https://scania.github.io/corporate-ui-docs/template/angular-basic-template.html">Angular Template</nav-item>
						<nav-item location="https://scania.github.io/corporate-ui-docs/template/advanced-tables/table-basic-template.html">Tables Demos</nav-item>			
					</sub-navigation>
				</nav-item>
			</primary-items>
		</c-main-navigation>
		<section>

			<link rel="import" href="https://static.scania.com/build/global/3.2.1-CF/components/teaser/teaser.html">
			<c-teaser variation="1" headline="Increase Productivity" description="Molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et.">
				<teaser-item headline="Life at Scania" image="https://static.scania.com/resources/images/demo/truck-tires-mud.png">
					Scania’s spirit of leadership is built upon shared and inclusive core values. This creates a unique climate where our employees enjoy taking on responsibility – and the chance to develop and realise their potential.
				</teaser-item>
				<teaser-item headline="Tackle Fuel Efficiency" image="https://static.scania.com/resources/images/demo/highway-interchange.png" link="#test" link-text="Learn more">
					Molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et.
				</teaser-item>
			</c-teaser>
		</section>
		<section class="light">
			<c-teaser variation="2" headline="Tailored for you" description="Based around your area of industry and application, our tailored made packages are moulded around your needs." link="#test" link-text="Discover total solutions">
				<teaser-item headline="Modularised design" image="https://static.scania.com/resources/images/demo/modules.jpg"></teaser-item>
				<teaser-item headline="Tailored servicing & fleet management" image="https://static.scania.com/resources/images/demo/tailored.jpg"></teaser-item>
				<teaser-item headline="Flexible financing" image="https://static.scania.com/resources/images/demo/finance.jpg"></teaser-item>
				<teaser-item headline="Personalized training" image="https://static.scania.com/resources/images/demo/personalized.jpg"></teaser-item>
			</c-teaser>

		</section>
	</c-main-content>
	<c-corporate-footer></c-corporate-footer>
</body>
</html>

