<!DOCTYPE html>
<!--#include file="../config.aspx" -->
<html lang="en-GB">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=”robots” content=”noindex”>
 
  <meta charset="utf-8">
  <noscript><meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html"></noscript>


  <title>Scania UX Library</title>
  <script src="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"></script>
  <script src="https://static.scania.com/build/global/master/js/corporate-ui.js"></script>




  <link rel="import" href="https://static.scania.com/build/global/2.5.0/html/component/Navigation/main-hero/main-hero.html">
  <link rel="stylesheet" href="/corporate-ui-docs/ux-lib.css">
  <link rel="stylesheet" href="/corporate-ui-docs/ux-lib.css">

    <style>
      .templates-iframe iframe {
        width: 100%;
        height: 2600px;
        margin: 0 auto;
        margin-top: -50px;
    }
    </style>

</head>
<body data-env="Test" unresolved class="scania ux-lib documentation">

  <c-corporate-header site-name="Master Branch" site-url="/corporate-ui-docs/master-branch/">
    <nav-item location="/corporate-ui-docs/master-branch/developer/support.html">Support</nav-item>
    <nav-item location="https://github.com/scania/corporate-ui-docs">Master Docs @ GitHub</nav-item>
  </c-corporate-header>

  <c-main-content>

    <c-main-navigation show-search>
      <primary-items>
        <nav-item location="/corporate-ui-docs/master-branch/">Home</nav-item>
        <nav-item location="/corporate-ui-docs/master-branch/styleguide/">Style Guide</nav-item>
        <nav-item location="/corporate-ui-docs/master-branch/developer/" class="active">
          Web Applications
          <sub-navigation caption="Web Applications">
            <nav-item location="/corporate-ui-docs/master-branch/developer/">Corporate UI</nav-item>
            <nav-item location="/corporate-ui-docs/master-branch/component/">Available Components</nav-item>
            <nav-item location="/corporate-ui-docs/master-branch/template/" class="active">Templates</nav-item>
            <nav-item location="/corporate-ui-docs/master-branch/developer/uiaas.html">UIaaS</nav-item>
            <nav-item location="/corporate-ui-docs/master-branch/developer/scania-bootstrap.html">Scania Bootstrap</nav-item>
            <nav-item location="/corporate-ui-docs/master-branch/developer/support.html">Support</nav-item>
          </sub-navigation>
        </nav-item>
        <nav-item location="/corporate-ui-docs/master-branch/mobile-apps/">Mobile Apps</nav-item>        
      </primary-items>
    </c-main-navigation>

    <section class="light">
      <div class="wrapper">
        <div class="templates-iframe">
            <iframe src="https://static.scania.com/ux-library/template/iframe.aspx" onload="scroll(0,0);" frameborder="0" allowfullscreen ></iframe>
        </div>
      </div>
    </section>

  </c-main-content>

  <c-corporate-footer></c-corporate-footer>

  <script src="/corporate-ui-docs/ux-lib.js"></script>
 
</body>
</html>