<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Scania UX Library</title>
  <script src="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"></script>

  <script src="https://static.scania.com/vendors/frameworks/jQuery/1.11.3/jquery-1.11.3.min.js"></script>   
  <script src="https://static.scania.com/build/global/master/js/corporate-ui.js"></script>




  <link rel="import" href="https://static.scania.com/build/global/2.0.0/html/component/Navigation/main-hero/main-hero.html">
  
</head>
<body data-env="Test" unresolved class="scania ux-lib">

  <c-corporate-header site-name="Master Branch" site-url="/corporate-ui-docs/master-branch/">
    <nav-item location="/corporate-ui-docs/master-branch/developer/support.html">Support</nav-item>
    <nav-item location="https://github.com/scania/corporate-ui-docs">Master Docs @ GitHub</nav-item>
  </c-corporate-header>

  <c-main-content class="light">

    <c-main-navigation show-search>
      <primary-items>
        <nav-item location="#/">solutions</nav-item>
        <nav-item location="#/branding">products and services</nav-item>
        <nav-item location="#/contact">experience scania
          <sub-navigation>
            <nav-item location="#/news">news</nav-item>
            <nav-item location="#/popular">popular</nav-item>
            <nav-item location="#/related">related</nav-item>
          </sub-navigation>
        </nav-item>
      </primary-items>
    </c-main-navigation>



    <section>
      <c-main-hero image="https://static.scania.com/resources/images/demo/template-cover.png"></c-main-hero>
    </section>
    
    
  </c-main-content>

  <c-corporate-footer></c-corporate-footer>

</body>
