	c-main-navigation .search.form-inline {
		margin-right: 40px;
	}

	c-main-navigation .search.form-inline i.scania-icon-search {
		background-size: 40px;
		width: 40px;
		height: 40px;
	}

	c-main-navigation .search.form-inline input.main-nav-search  {
		padding: 3px 12px;
		height: 30px;
		background: white;
		border: none;
		border-bottom: 1px solid #d2d2d2;
		font-family: 'Scania Sans Semi Condensed';
		color: #7b7b7b;
	}


	.sticky-filter {
	    position: sticky;
	    top: 62px;
	    padding: 10px;
	    z-index: 1030;
		border-bottom: 1px solid #e2e2e2;
	}

	i.scania-icon.filter-icon.xs {
    	background-image: url(https://legend.scania.com/development/users/used-vehicles/img/filter.svg);
	    background-size: 11px;
	    width: 11px;
	    height: 11px;
	    margin-top: 2px;
	}


	.app.used-vehicles .card {
	   margin-bottom: 30px;
	}

	.app.used-vehicles .card .card-footer {
	    padding: 0.75rem 1.25rem;
	    background-color: transparent;
	    border-top: none;
	}
	
	.app.used-vehicles .card h1,
	.app.used-vehicles .card h2,
	.app.used-vehicles .card h3,
	.app.used-vehicles .card h4,	
	.app.used-vehicles .card h5 {
	    padding-top: 0px;
	    margin-bottom: 5px;
	}

	
	.app.used-vehicles .card .card-body h1 {
	    font-size: 2.0rem;
	}
	
	.app.used-vehicles .card .card-body h2 {
	    font-size: 1.8rem;
	}

	.app.used-vehicles .card .card-body h3	{
	    font-size: 1.6rem;
	}

	.app.used-vehicles .card .card-body h4 {
	    font-size: 1.4rem;
	}
	
	.app.used-vehicles .card .card-body h5 {
	    font-size: 1.2rem;
	}

	.app.used-vehicles  c-main-content > section, c-main-content.app > section {
	    background-color: #f7f7f7;
	    padding: 45px 30px;
	}

	.app.used-vehicles  c-main-navigation .form-control {
	    padding: 3px 12px;
	    height: auto;
	    border-bottom: 1px #cecece solid;
	    color: #8a8a8a;
	}

	.used-vehicles input[type=checkbox] + span:before {
	    margin-bottom: 2px;
	    margin-right: 4px;
	}

	.used-vehicles span.price {
	    font-size: 2.0rem;
	    font-family: 'Scania Sans Semi Condensed';
	    font-weight: bold;
	    margin-right: 0.5rem;
	}

	.used-vehicles span.price small {
		padding-left: 4px;

	}

	@media (max-width: 991px)  {
		.used-vehicles .card-deck .card {
		    -ms-flex: auto;
		    flex: auto !important;
		}
	}

	@media (max-width: 991px)  {
		.filters {
		    display: none;
		}
	}