<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">

        <title>Breadcrumbs - Design Patterns</title>
  <script src="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"></script>

        <meta name="description" content="">
        <meta name="keywords" contnet="">

        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="#004c97">

        <meta property="og:title" content="Breadcrumbs">
        <meta property="og:description" content="">

        <script src="https://static.scania.com/resources/logotype/favicon/favicons.js"></script>
        


        <!--[if lt IE 9]>
            <script src="vendor/html5shiv/html5shiv.min.js"></script>
        <![endif]-->

        <link href="../styles/vendor.css" rel="stylesheet"/>
        <link href="../styles/main.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/corporate-ui-docs/ux-lib.css">

        <script src="https://static.scania.com/vendors/frameworks/jQuery/1.11.3/jquery-1.11.3.min.js"></script>   
  <script src="https://5c5050e66adb070007c2761f--peaceful-poitras-f0d571.netlify.com/dist/js/corporate-ui.js"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113165423-1"></script>  
  <script src="/corporate-ui-docs/js/google-analytics.js"></script>  

         

        <link rel="stylesheet" type="text/css" href="https://static.scania.com/vendors/components/pure-js/highlight.js/styles/color-brewer.css">
        <script src="https://static.scania.com/vendors/components/pure-js/highlight.js/highlight.pack.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    </head>
    <body data-env="Test" class="scania">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <c-corporate-header site-name="UX Library" site-url="/corporate-ui-docs/">
    <nav-item location="/corporate-ui-docs/developer/support.html">Support</nav-item>
    <nav-item location="https://github.com/scania/corporate-ui">GitHub</nav-item>
  </c-corporate-header>

  <link href="../styles/main.css" rel="stylesheet"/>
<c-main-content class="app">



 
    <div class="pl-container">
        <nav class="pl-sidebar">
            <ul class="nav nav-stacked">
                
                    <li class="category">basics</li>
                                     <li>
                                        <a  href="/corporate-ui-docs/design-patterns/foundation/colors.html"> Colors </a>
                                    </li>
                                     <li>
                                        <a  href="/corporate-ui-docs/design-patterns/foundation/grid.html"> Grid </a>
                                    </li>
                                     <li>
                                        <a  href="/corporate-ui-docs/design-patterns/foundation/icons.html"> Icons </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/foundation/layouts.html"> Layouts </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/foundation/links.html"> Links </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/foundation/typography.html"> Typography </a>
                                    </li>
                                    <li class="category">elements</li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/alerts.html"> Alerts and notifications </a>
                                    </li>
                                    <li  class="active"  >
                                        <a  href="/corporate-ui-docs/design-patterns/components/breadcrumbs.html"> Breadcrumbs </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/buttons.html"> Buttons </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/collapsiblePanels.html"> Collapsible panels </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/dialogs.html"> Dialogs </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/formControls.html"> Form controls </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/forms.html"> Forms </a>
                                    </li>
                                     <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/labelsAndBadges.html"> Labels and badges </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/menus.html"> Menus </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/metadata.html"> Metadata </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/pagination.html"> Pagination </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/popovers.html"> Popovers </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/progressBars.html"> Progress and loading </a>
                                    </li>
                                
                                             <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/stepIndicators.html"> Step indicators </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/tables.html"> Tables </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/tabs.html"> Tabs </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/tags.html"> Tags </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/components/tooltips.html"> Tooltips </a>
                                    </li>
                    
                        
                    
                        
                    
                
                    <li class="category">patterns</li>
                    
                        
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/patterns/cards.html"> Cards </a>
                                    </li>
                                
                                             <li>
                                        <a  href="/corporate-ui-docs/design-patterns/patterns/dataFormats.html"> Data formats </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/patterns/fileUpload.html"> File upload </a>
                                    </li>
                                    <li>
                                        <a  href="/corporate-ui-docs/design-patterns/patterns/filters.html"> Filters </a>
                                    </li>
                                
                                             <li>
                                        <a  href="/corporate-ui-docs/design-patterns/patterns/help.html"> Help </a>
                                    </li>

                 
            </ul>
        </nav>
        <section class="pl-content">
            
            <div class="pl-pattern">
  <h3>Breadcrumbs</h3>

  <h4 id="purpose">Purpose</h4>
  <p>Users need to understand their current location and navigate within a hierarchical navigation scheme.</p>

  <h4 id="description">Description</h4>
  <p>Breadcrumbs display the current path to a particular page relative to the starting point. Breadcrumbs provide a means for users to understand their current context in a hierarchical structure and the ability to navigate up the structure easily.</p>

  <ul>
    <li>Breadcrumbs display the current path as links separated by carets to indicate each level.</li>
    <li>The navigation root is the first element, the current location is the last element</li>
    <li>The current location is not clickable.</li>
    <li>Clicking on a link takes you to that screen.</li>
  </ul>

  <p>Depending on the complexity of the navigational hierarchy and the type of page or application, it may make sense for the breadcrumb to represent only part of the hierarchy while sub tabs/trees/navigation represent the remaining hierarchy. In that case, you may want to make the far right element clickable.</p>

<div class="pl-preview">
<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Library</li>
</ol>
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>
</div>

  <figure class="highlight">
    <pre><code class="language-html" data-lang="html"><span class="nt">&lt;ol</span> <span class="na">class=</span><span class="s">"breadcrumb"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Library<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;</span>Data<span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ol&gt;</span></code></pre>
  </figure>

</div>

        </section>
    </div>
</c-main-content>

        <script src="/corporate-ui-docs/ux-lib.js"></script>
        <script src="../scripts/vendor.js"></script>
        <script src="../scripts/plugins.js"></script>        
        <script src="../scripts/main.js"></script>

    </body>
</html>

