<!--
   _____                 _         ____              _       _                   
  / ____|               (_)       |  _ \            | |     | |                  
 | (___   ___ __ _ _ __  _  __ _  | |_) | ___   ___ | |_ ___| |_ _ __ __ _ _ __  
  \___ \ / __/ _` | '_ \| |/ _` | |  _ < / _ \ / _ \| __/ __| __| '__/ _` | '_ \ 
  ____) | (_| (_| | | | | | (_| | | |_) | (_) | (_) | |_\__ \ |_| | | (_| | |_) |
 |_____/ \___\__,_|_| |_|_|\__,_| |____/ \___/ \___/ \__|___/\__|_|  \__,_| .__/ 
                                                                          | |  
                                                                          |_|                                                                                                                                                   
  Scania Bootstrap is the HTML/CSS framework maintained by Common Design Service.
  We are available at InLine, Scania Wiki, Agora and Team Room. Enjoy!   
                                                                        -->
<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Megamenu</title>
  <script src="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"></script>

  <meta charset="utf-8">

  <script src="//static.scania.com/vendors/frameworks/jquery/1.10.2/jquery.min.js"></script>
  <script src="//static.scania.com/vendors/frameworks/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <link href="//static.scania.com/development/global/css/scania-bootstrap.css" rel="stylesheet">

  <link href="../dropline/css/navbar.css" rel="stylesheet">

  <script type="text/javascript">
    $(function() {
      $(".dropdown").hover(function() {
        $(this).addClass("open");
        $(".dropdown-menu", this).first().stop(true, true).show();
      }, function() {
        $(this).removeClass("open");
        $(".dropdown-menu", this).first().stop(true, true).hide();
        $(this).removeClass("active");
      });

      $('.nav-tabs > li > a').hover(function(){
        $(this).tab('show');
        $(".navbar > .navbar-nav > li").removeClass("active");
      }, function() {
        $(".navbar > .navbar-nav > li").removeClass("active");
      }).click(function(e) {
        e.stopPropagation();
      });
    })
  </script>
  <style type="text/css">
    .bootstrap .navbar ul.nav.nav-tabs.nav-stacked {
      border: 0;
    }
    .bootstrap .navbar ul.nav.nav-tabs.nav-stacked > li {
      margin-bottom: -3px;
      padding-bottom: 0;
    }
    .bootstrap .navbar ul.nav.nav-tabs.nav-stacked > li > a,
    .bootstrap .navbar ul.nav.nav-tabs.nav-stacked > li.active > a {
      top: 0;
      border-bottom: 1px solid #ddd;
      padding: 8px 15px;
    }
    .bootstrap .navbar ul.nav.nav-tabs.nav-stacked > li.active > a {
      border-left: 2px solid #7c1c1d;
      border-right: 1px solid #fff;
      border-top: 1px solid #ddd;
      padding-left: 14px;
    }
    @media (min-width: 768px) {
      .bootstrap .navbar > .container-fluid > .navbar-nav:first-child {
        margin-left: -15px;
      }
    }


    .bootstrap footer.panel {
      border: 0;
    }
  </style>
</head>
<body data-env="Test" unresolved class="bootstrap bootstrap-app">
  <div class="container padding-top">
    <header>
      <nav class="navbar navbar-top">
        <div class="navbar-header">
          <button type="button" class="btn btn-default navbar-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top-right">
            <span class="icon-reorder"></span>
          </button>
          <a class="navbar-brand" href="#">
            <span class="logotype"></span><span class="brand-name">Project Name</span>
          </a>
        </div>
        <div class="navbar-collapse in" id="navbar-top-right">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">
                <i class="icon-user"></i>
                Andreas Wikström
              </a>
            </li>
            <li class="dropdown">
              <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown">
                Settings
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
            <li>
              <a href="#">
                <i class="icon-off"></i>
                Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>


      <nav class="navbar navbar-scania" role="navigation">
        <div class="container-fluid bootstrap-wcm">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li class="dropdown megamenu">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                Megamenu 
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="drop1">
                <div class="row">
                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Support</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">Contact Form</a></li>
                      <li><a data-description="A Short Description" href="#">Knowledgebase</a></li>
                      <li><a data-description="A Short Description" href="#">Friendly Questions</a></li>
                      <li><a data-description="A Short Description" href="#">Support Forum</a></li>
                      <li><a data-description="A Short Description" href="#">Changelogs</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Marketplace</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">ThemeForest</a></li>
                      <li><a data-description="A Short Description" href="#">CodeCanyon</a></li>
                      <li><a data-description="A Short Description" href="#">GraphicRiver</a></li>
                      <li><a data-description="A Short Description" href="#">VideoHive</a></li>
                      <li><a data-description="A Short Description" href="#">ActiveDen</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Tuts+ Sites</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">PSD Tuts+</a></li>
                      <li><a data-description="A Short Description" href="#">Code Tuts+</a></li>
                      <li><a data-description="A Short Description" href="#">Vector Tuts+</a></li>
                      <li><a data-description="A Short Description" href="#">App Tuts+</a></li>
                      <li><a data-description="A Short Description" href="#">WP Tuts+</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Envato Sites</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">Marketplaces</a></li>
                      <li><a data-description="A Short Description" href="#">Microlancer</a></li>
                      <li><a data-description="A Short Description" href="#">Creattica</a></li>
                      <li><a data-description="A Short Description" href="#">AppStorm</a></li>
                      <li><a data-description="A Short Description" href="#">Tutsplus</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Engage</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">We Build Envato</a></li>
                      <li><a data-description="A Short Description" href="#">Flickr Stream</a></li>
                      <li><a data-description="A Short Description" href="#">Youtube</a></li>
                      <li><a data-description="A Short Description" href="#">Inside Envato</a></li>
                      <li><a data-description="A Short Description" href="#">Vimeo Stream</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Social</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">Google Plus</a></li>
                      <li><a data-description="A Short Description" href="#">Facebook</a></li>
                      <li><a data-description="A Short Description" href="#">Twitter</a></li>
                      <li><a data-description="A Short Description" href="#">Linkedin</a></li>
                      <li><a data-description="A Short Description" href="#">Pinterest</a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </li>
            <li class="dropdown megamenu">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                Tabs 
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu full" aria-labelledby="drop1">

                <div class="row">
                  <div class="col-sm-2">
                    <ul class="nav nav-tabs nav-stacked">
                      <li class="active">
                        <a href="#home" role="tab" data-toggle="tab">
                          Home 
                          <i class="pull-right icon-caret-right"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#profile" role="tab" data-toggle="tab">
                          Profile 
                          <i class="pull-right icon-caret-right"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#messages" role="tab" data-toggle="tab">
                          Messages 
                          <i class="pull-right icon-caret-right"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-10 tab-content">
                    <div id="home" class="tab-pane active">
                      <div class="row">
                        <div class="col-sm-2">
                          <h4 class="title">
                            <a href="#">Support</a>
                          </h4>
                          <ul class="list-unstyled">
                            <li><a data-description="A Short Description" href="#">Contact Form</a></li>
                            <li><a data-description="A Short Description" href="#">Knowledgebase</a></li>
                            <li><a data-description="A Short Description" href="#">Friendly Questions</a></li>
                            <li><a data-description="A Short Description" href="#">Support Forum</a></li>
                            <li><a data-description="A Short Description" href="#">Changelogs</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <h4 class="title">
                            <a href="#">Marketplace</a>
                          </h4>
                          <ul class="list-unstyled">
                            <li><a data-description="A Short Description" href="#">ThemeForest</a></li>
                            <li><a data-description="A Short Description" href="#">CodeCanyon</a></li>
                            <li><a data-description="A Short Description" href="#">GraphicRiver</a></li>
                            <li><a data-description="A Short Description" href="#">VideoHive</a></li>
                            <li><a data-description="A Short Description" href="#">ActiveDen</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div id="profile" class="tab-pane">
                      <div class="row">
                        <div class="col-sm-2">
                          <h4 class="title">
                            <a href="#">Tuts+ Sites</a>
                          </h4>
                          <ul class="list-unstyled">
                            <li><a data-description="A Short Description" href="#">PSD Tuts+</a></li>
                            <li><a data-description="A Short Description" href="#">Code Tuts+</a></li>
                            <li><a data-description="A Short Description" href="#">Vector Tuts+</a></li>
                            <li><a data-description="A Short Description" href="#">App Tuts+</a></li>
                            <li><a data-description="A Short Description" href="#">WP Tuts+</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <h4 class="title">
                            <a href="#">Envato Sites</a>
                          </h4>
                          <ul class="list-unstyled">
                            <li><a data-description="A Short Description" href="#">Marketplaces</a></li>
                            <li><a data-description="A Short Description" href="#">Microlancer</a></li>
                            <li><a data-description="A Short Description" href="#">Creattica</a></li>
                            <li><a data-description="A Short Description" href="#">AppStorm</a></li>
                            <li><a data-description="A Short Description" href="#">Tutsplus</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div id="messages" class="tab-pane">
                      <div class="row">
                        <div class="col-sm-2">
                          <h4 class="title">
                            <a href="#">Engage</a>
                          </h4>
                          <ul class="list-unstyled">
                            <li><a data-description="A Short Description" href="#">We Build Envato</a></li>
                            <li><a data-description="A Short Description" href="#">Flickr Stream</a></li>
                            <li><a data-description="A Short Description" href="#">Youtube</a></li>
                            <li><a data-description="A Short Description" href="#">Inside Envato</a></li>
                            <li><a data-description="A Short Description" href="#">Vimeo Stream</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <h4 class="title">
                            <a href="#">Social</a>
                          </h4>
                          <ul class="list-unstyled">
                            <li><a data-description="A Short Description" href="#">Google Plus</a></li>
                            <li><a data-description="A Short Description" href="#">Facebook</a></li>
                            <li><a data-description="A Short Description" href="#">Twitter</a></li>
                            <li><a data-description="A Short Description" href="#">Linkedin</a></li>
                            <li><a data-description="A Short Description" href="#">Pinterest</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
            </li>



            <li class="dropdown megamenu">
              <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">
                Bus 
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu">
                <div class="row">

                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Schmitz Cargobull</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">Lighting</a></li>
                      <li><a data-description="A Short Description" href="#">Rear lamps</a></li>
                      <li><a data-description="A Short Description" href="#">Side markers lamps</a></li>
                      <li><a data-description="A Short Description" href="#">Position lamps</a></li>
                      <li><a data-description="A Short Description" href="#">Number plate lights</a></li>
                      <li><a data-description="A Short Description" href="#">Reverse Lights</a></li>
                      <li><a data-description="A Short Description" href="#">Indicator Lights</a></li>
                      <li><a data-description="A Short Description" href="#">Warning lights</a></li>
                      <li><a data-description="A Short Description" href="#">Electricity</a></li>
                      <li><a data-description="A Short Description" href="#">Work light</a></li>
                      <li><a data-description="A Short Description" href="#">Other</a></li>
                      <li><a data-description="A Short Description" href="#">Brake systems</a>
                        <ul class="list-unstyled">
                          <li><a data-description="A Short Description" href="#">Electronics</a></li>
                          <li><a data-description="A Short Description" href="#">Valves</a></li>
                          <li><a data-description="A Short Description" href="#">Air Treatment </a></li>
                          <li><a data-description="A Short Description" href="#">Disc brakes</a></li>
                          <li><a data-description="A Short Description" href="#">Brake Cylinders</a></li>
                          <li><a data-description="A Short Description" href="#">Drum brakes</a></li>
                          <li><a data-description="A Short Description" href="#">Electronic Brake Control</a></li>
                        </ul>
                      </li>
                      <li><a data-description="A Short Description" href="#">Axle equipment</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Wabco</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">Air Processing</a></li>
                      <li><a data-description="A Short Description" href="#">Air Spring, Shock Absorber</a></li>
                      <li><a data-description="A Short Description" href="#">Brake Actuator</a></li>
                      <li><a data-description="A Short Description" href="#">Brake Control Trailer Other Product</a></li>
                      <li><a data-description="A Short Description" href="#">Compressed Air Generating System</a></li>
                      <li><a data-description="A Short Description" href="#">Compressed Air Storage</a></li>
                      <li><a data-description="A Short Description" href="#">Control Devices Air Suspension</a></li>
                      <li><a data-description="A Short Description" href="#">Conventional Brake Control</a></li>
                      <li><a data-description="A Short Description" href="#">Conventional Service Brake</a></li>
                      <li><a data-description="A Short Description" href="#">Devices for Buses</a></li>
                      <li><a data-description="A Short Description" href="#">Devices for Universal Application</a></li>
                      <li><a data-description="A Short Description" href="#">Drive Line Control</a></li>
                      <li><a data-description="A Short Description" href="#">Electronic control of air suspension</a></li>
                      <li><a data-description="A Short Description" href="#">Foundation Brake</a></li>
                      <li><a data-description="A Short Description" href="#">Hydraulic Devices, HPB</a></li>
                      <li><a data-description="A Short Description" href="#">Testing, Diagnosis</a></li>
                      <li><a data-description="A Short Description" href="#">Tire Monitoring System</a></li>
                      <li><a data-description="A Short Description" href="#">Trailer Connection</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Haldex</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">ABS System</a></li>
                      <li><a data-description="A Short Description" href="#">Accessories</a></li>
                      <li><a data-description="A Short Description" href="#">Actuation</a></li>
                      <li><a data-description="A Short Description" href="#">Air brake</a></li>
                      <li><a data-description="A Short Description" href="#">Air disc brakes</a></li>
                      <li><a data-description="A Short Description" href="#">Air suspension / lift axle</a></li>
                      <li><a data-description="A Short Description" href="#">Air treatment</a></li>
                      <li><a data-description="A Short Description" href="#">Brake adjusters</a></li>
                      <li><a data-description="A Short Description" href="#">EBS system</a></li>
                      <li><a data-description="A Short Description" href="#">Hydraulics</a></li>
                      <li><a data-description="A Short Description" href="#">Miscellaneous</a></li>
                      <li><a data-description="A Short Description" href="#">Unclassified</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Gigant</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">Axle components</a></li>
                      <li><a data-description="A Short Description" href="#">Hubs and wheels</a></li>
                      <li><a data-description="A Short Description" href="#">Brakes and pneumatic system</a></li>
                      <li><a data-description="A Short Description" href="#">Suspension</a></li>
                      <li><a data-description="A Short Description" href="#">Complementary equipment</a></li>
                      <li><a data-description="A Short Description" href="#">Miscellaneous (Nuts, bolts, brackets etc)</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Knorr Bremse</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">Electronics</a></li>
                      <li><a data-description="A Short Description" href="#">Valves</a></li>
                      <li><a data-description="A Short Description" href="#">Air Treatment</a></li>
                      <li><a data-description="A Short Description" href="#">Disc brakes</a></li>
                      <li><a data-description="A Short Description" href="#">Brake Cylinders</a></li>
                      <li><a data-description="A Short Description" href="#">Drum brakes</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">SAF</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">Axle components</a></li>
                      <li><a data-description="A Short Description" href="#">Hubs and wheels</a></li>
                      <li><a data-description="A Short Description" href="#">Brakes and pneumatic system</a></li>
                      <li><a data-description="A Short Description" href="#">Suspension</a></li>
                      <li><a data-description="A Short Description" href="#">Complementary equipment</a></li>
                      <li><a data-description="A Short Description" href="#">Miscellaneous (Nuts, bolts, brackets etc)</a></li>
                      <li><a data-description="A Short Description" href="#">Fifth wheel and related components</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Meritor</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">Axle components</a></li>
                      <li><a data-description="A Short Description" href="#">Hubs and wheels</a></li>
                      <li><a data-description="A Short Description" href="#">Brakes and pneumatic system</a></li>
                      <li><a data-description="A Short Description" href="#">Suspension</a></li>
                      <li><a data-description="A Short Description" href="#">Complementary equipment</a></li>
                      <li><a data-description="A Short Description" href="#">Miscellaneous (Nuts, bolts, brackets etc)</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">SKF</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">TQ-line trailer bearing</a></li>
                      <li><a data-description="A Short Description" href="#">Standard trailer bearing</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">Complementary equipment</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">Fuel Economy</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-3 col-md-2">
                    <h4 class="title">
                      <a href="#">BPW</a>
                    </h4>
                    <ul class="list-unstyled">
                      <li><a data-description="A Short Description" href="#">Axle components</a></li>
                      <li><a data-description="A Short Description" href="#">Hubs and wheels</a></li>
                      <li><a data-description="A Short Description" href="#">Brakes and pneumatic system</a></li>
                      <li><a data-description="A Short Description" href="#">Suspension</a></li>
                      <li><a data-description="A Short Description" href="#">Complementary equipment</a></li>
                      <li><a data-description="A Short Description" href="#">Miscellaneous (Nuts, bolts, brackets etc)</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </li>




          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">

              <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown">
                Dropdown 
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a data-description="A Short Description" href="#">Contact Form</a></li>
                <li><a data-description="A Short Description" href="#">Knowledgebase</a></li>
                <li><a data-description="A Short Description" href="#">Friendly Questions</a></li>
                <li><a data-description="A Short Description" href="#">Support Forum</a></li>
                <li><a data-description="A Short Description" href="#">Changelogs</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="content">
      <div class="bootstrap-wcm">
        <h1>Headline 1</h1>
        <p>Paragraph</p>
      </div>
    </div>
    <footer class="panel panel-default">
      <div class="panel-heading">Footer</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-unstyled">
              <li>tel. 123123123</li>
              <li>mob. 070 123123</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>