



<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=”robots” content=”noindex”>
 
  <meta charset="utf-8">
  <title>UX Library - Copy Paste HTML</title>
  <script src="https://static.scania.com/vendors/frameworks/jQuery/1.11.3/jquery-1.11.3.min.js"></script>   
  <script src="https://static.scania.com/build/global/master/js/corporate-ui.js"></script>



</head>


<body data-env="Test" class="scania ux-lib" data-env="Test">


  <c-corporate-header site-name="Master Branch" site-url="/corporate-ui-docs/master-branch/">
    <nav-item location="/corporate-ui-docs/master-branch/developer/support.html">Support</nav-item>
    <nav-item location="https://github.com/scania/corporate-ui-docs">Master Docs @ GitHub</nav-item>
  </c-corporate-header>


  <c-main-content>


    <c-main-navigation show-search>
      <primary-items>
        <nav-item location="/corporate-ui-docs/master-branch/">Home</nav-item>
        <nav-item location="/corporate-ui-docs/master-branch/styleguide/">Style Guide</nav-item>            
        <nav-item location="/corporate-ui-docs/master-branch/developer/" class="active">Web Applications
          <sub-navigation caption="Scania Bootstrap">
            <nav-item location="/corporate-ui-docs/master-branch/developer/scania-bootstrap-app.html">Bootstrap CSS for Applications</nav-item>
            <nav-item location="/corporate-ui-docs/master-branch/developer/scania-bootstrap-public.html">Bootstrap Public CSS</nav-item>  
            <nav-item location="/corporate-ui-docs/master-branch/template/html-copy-paste/html-copy-paste.html" class="active">Copy Paste HTML</nav-item>
          </sub-navigation>  
        </nav-item>
        <nav-item location="/corporate-ui-docs/master-branch/mobile-apps/">Mobile Apps</nav-item>
            <nav-item location="https://github.com/scania/corporate-ui/issues/new">Report an Issue</nav-item>
            <nav-item location="/corporate-ui-docs/master-branch/developer/support.html">Support</nav-item>
      </primary-items>
    </c-main-navigation>


    <section class="app">


      <link rel="import" href="https://scania.github.io/corporate-ui-docs/master-branch/template/html-copy-paste/c-html-copy-paste-components.html">

      <c-html-copy-paste-components fullbleed></c-html-copy-paste-components> 


    </section>


  </c-main-content>
  

  <c-corporate-footer></c-corporate-footer>

































  <style>




  body.scania.app {font-family: 'Scania Sans Semi Condensed';}

  c-main-content {background-color: #E2E2E2;}


  c-main-content > section, c-main-content.app > section {
    padding: 80px 20px !important;
  }

  </style>

</body>
</html>

