<!DOCTYPE html>
<html>
<head>
	<script src="https://unpkg.com/@codext/stencil-components@0.0.6/dist/gradient-button.js"></script>
</head>
<body>
	
<div style="margin: 10% 20%">
  <h1>Hey Legend!</h1>
  <codext-gradient-button color="darkblue">Gradient Button - Darkblue</codext-gradient-button>
  <codext-gradient-button color="green">Gradient Button - Green</codext-gradient-button>
  <codext-gradient-button color="pink">Gradient Button - Pink</codext-gradient-button>
  <codext-gradient-button color="blue">Gradient Button - Blue</codext-gradient-button>
</div>

</body>
</html>
