<!DOCTYPE html>
<html lang="en-GB">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=”robots” content=”noindex”>
 
	<meta charset="utf-8">
	<noscript><meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html"></noscript>


	<title>Sortable table with filtering</title>
	<script src="https://static.scania.com/vendors/frameworks/jquery/1.11.3/jquery-1.11.3.min.js"></script>   
	<script src="https://static.scania.com/build/global/master/js/corporate-ui.js"></script>


	<!-- Table Sorter Plugin -->

	<script src="https://static.scania.com/vendors/components/jQuery/table-sorter/2.17.9/js/jquery.tablesorter.min.js"></script>
	<script src="https://static.scania.com/vendors/components/jQuery/table-sorter/2.17.9/js/jquery.tablesorter.widgets.min.js"></script>
	<!-- Tablesorter: optional -->
	<link rel="stylesheet"
	href="https://static.scania.com/vendors/components/jQuery/table-sorter/2.17.9/addons/pager/jquery.tablesorter.pager.css">
	<script src="https://static.scania.com/vendors/components/jQuery/table-sorter/2.17.9/addons/pager/jquery.tablesorter.pager.js"></script>
	<script src="https://static.scania.com/vendors/components/jQuery/table-sorter/2.17.9/addons/expandable/jquery.tablesorter.expandable.js"></script>


	<script>
		$(function () {
			$("#table").tablesorter({sortList: [[0, 0], [1, 0]]});
		});
	</script>


	<style>

		tbody th {font-family: 'Scania Sans Bold'}
		.tablesorter-filter-row {border:none;}

		tbody th {font-family: 'Scania Sans Bold'}



			    .table thead > tr > td {
			        padding-top: 0;
			    }

		.tablesorter th, .tablesorter td {border:none !important;}

		.table tr.tablesorter-filter-row .form-control {
			color: black;
			font-size: inherit;
		}


	</style>    


<link rel="stylesheet" href="/corporate-ui-docs/ux-lib.css">
</head>

<body data-env="Test" class="scania app ux-lib" data-env="Test" data-env="proto">

<c-corporate-header site-name="Master Branch" site-url="/corporate-ui-docs/master-branch/">
    <nav-item location="https://www.scania.com/world/#/">World Entry</nav-item>
    <nav-item location="https://www.scania.com/group/en/">Scania Group</nav-item>
</c-corporate-header>

<c-main-content>

    <c-main-navigation show-search>
        <primary-items>
            <nav-item location="table-basic-template.html">Tables
                <sub-navigation caption="Standard Tables">
                    <nav-item location="table-basic-template.html">Basic Table</nav-item>
                    <nav-item location="table-basic-template.html">Bordered</nav-item>
                </sub-navigation>
            </nav-item>        
            <nav-item location="table-match-any-column.htm" class="active">Filtered
                <sub-navigation caption="Filtered Tables">
                    <nav-item location="table-match-any-column.htm">Match Any Column</nav-item>
                    <nav-item location="table-filtered-app.html" class="active">Filtered Columns</nav-item>
                </sub-navigation>
            </nav-item>
            <nav-item location="table-column-selector-widget.html">Responsive
                <sub-navigation caption="Responsive Tables">
                    <nav-item location="table-column-selector-widget.html">Columns Selector</nav-item>
                    <nav-item location="responsive-cards/table-responsive-cards.html">Responsive Cards</nav-item>
              </sub-navigation>
            </nav-item>
            <nav-item location="table-pagination.html">Paginated</nav-item>               
            <nav-item location="table-tree-view.html">Apple Tree View</nav-item>                   
        </primary-items>
    </c-main-navigation>



    <section class="light">
        <div class="container-fluid margin-bottom">
        	<ul class="nav nav-tabs nav-tabs-light">
		      <li class="active app-styling"><a href="#">Application Styling</a></li>
		      <li class="public-styling"><a href="#">Public Site Styling</a></li>   
		    </ul> 
			<h2>Filtered Table Prototype</h2>
			<p>This is a basic filtered and sortable table based on the Tablesorter plugin. There are many plugins that can do this but Tablesorter does pretty much everyting else that you might need to do with a table as well.</p>     
		</div>
		<div class="container-fluid">	       
			<table id="table" class="table tablesorter">
				<thead>
					<tr>
						<th>#</th>
						<th>Business Team</th>
						<th>Backend Team</th>
						<th>Front End Team</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1st</td>
						<td>Facts check</td>
						<td>Sanity check</td>
						<td>Sanity check</td>
					</tr>
					<tr>
						<td>2nd</td>
						<td>Spell check</td>
						<td>Regression test light</td>
						<td>Broken links</td>
					</tr>      
					<tr>
						<td>3rd</td>
						<td>Market specific information</td>
						<td>Sample markets (Italy/Ireland)</td>
						<td>Device and screen tests</td>
					</tr>
					<tr>
						<td>4th</td>
						<td>Slides & content</td>
						<td>Performance test</td>
						<td>Code Quality</td>
					</tr>
					<tr>
						<td>5th</td>
						<td>Internal & public versions</td>
						<td>Internal and external access</td>
						<td>Internal & public versions</td>
					</tr>
					<tr>
						<td>6th</td>
						<td>Spell check</td>
						<td>Regression test light</td>
						<td>Broken links</td>
					</tr>      
					<tr>
						<td>7th</td>
						<td>Market specific information</td>
						<td>Sample markets (Italy/Ireland)</td>
						<td>Device and screen tests</td>
					</tr>
					<tr>
						<td>8th</td>
						<td>Slides & content</td>
						<td>Performance test</td>
						<td>Code Quality</td>
					</tr>
					<tr>
						<td>9th</td>
						<td>Internal & public versions</td>
						<td>Internal and external access</td>
						<td>Internal & public versions</td>
					</tr>      
				</tbody>
			</table>
		</div>
	</c-main-content>

	<script src="/corporate-ui-docs/ux-lib.js"></script>

</body>
</html>