
.app .btn {
   font-family: "Scania Sans Semi Condensed";
   font-weight: bold;
}

body[data-env]:before {
    background-color: #ddd;
    padding: 80px 80px 0;
    text-transform: uppercase;
    font-size: 25px;
    border: 2px solid #dadada;
    font-family: 'Scania Sans Condensed Bold';
    background-color: #D6001C;
    color: #dadada;
}


/* Coming in > 3.2.0  */
/*.btn + .btn {
    margin-left: 9px;
}

.btn + .btn-group {
    margin-left: 9px;
}

.btn-group + .btn-group,
.btn-group + .btn {
    margin-left: 9px;
    float: none;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    margin-left: -1px;
    float: left;
}

.btn-toolbar {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
    margin-left: 9px;
}

.app .btn-primary:hover,
.app .btn-primary:active,
.app .btn-primary.active,
.app .open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #044883;
  border-color: #044883;
}


.app .btn-success:hover,
.app .btn-success:active,
.app .btn-success.active,
.app .open .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #4eb785;
  border-color: #4eb785;
}
.app .btn-info:hover,
.app .btn-info:active,
.app .btn-info.active,
.app .open .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #5598b2;
  border-color: #5598b2;
}
.app .btn-warning:hover,
.app .btn-warning:active,
.app .btn-warning.active,
.app .open .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #f49777;
  border-color: #f49777;
}
.app .btn-danger:hover,
.app .btn-danger:active,
.app .btn-danger.active,
.app .open .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #e41247;
  border-color: #e41247;
}
*/
/* End of > 3.2.0  */





/*@import url('https://static.scania.com/resources/logotype/group-brands.css');
*/

.app p a {
    font-weight: bold;
    font-size: inherit;
}
article p a {
    font-family: inherit;
}

/* Styles for the Components Page */


/* End styles Components Page */


body.CRStest {background:red !important}

.nav-tabs-light > li:first-child a {
    padding-left: 6px;
}

.nav-tabs-light > li.active:first-child a {
    margin: 15px 16px 13px 7px;
}



@media (max-width: 991px) {
  h1, .public h1, .app .public h1, .portlet-application h1, article h1 {
      font-size: 3.6rem;
  }
  .page-header h1 small {
    line-height: 1.25;
    margin-top: 4px;
    margin-bottom: 10px;
  }
}




html {opacity:1;}

a[href="/corporate-ui-docs/template/"],
a[href="/corporate-ui-docs/component/"] { 
  display: none;
}

.ux-lib[version-notfound]:after {
  content: "Version '" attr(version-notfound) "' was not found. Fallback to '" attr(data-env) "'";
  font-family: 'Scania Sans Bold';
  position: fixed;
  z-index: 9000;
  bottom: 40px;
  right: 40px;
  background-color: #d6001c;
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 500ms 4s ease;
}
.ux-lib.done-loading[version-notfound]:after {
  opacity: 0;
}

.ux-lib demo-component .modal {
  position: relative;
}

.ux-sections img {
    width: auto;
    height: auto;
    min-height: 128px;
    min-width: 128px;
    margin: 10% 5% 0;
}

.panel .panel-body, .panel .portlet-application {
    padding: 20px 30px;
}  

@media (max-width: 991px) {
  .ux-lib .ux-sections img {
    width: 40%;
    margin-top: 0;
  }

  .panel .panel-body, .panel .portlet-application {
      padding: 15px;
  }  

}


.ux-lib .main-item {
  margin: 30px 0 50px 0;
}
.ux-lib .main-item h5 {
  border-bottom: 1px #000 solid;
  padding-bottom: 20px;
  text-align: left;
}
.ux-lib .main-item i {
  background-image: url('https://static.scania.com/resources/icons/scania/SVG_POS/40_Mechanic_Technician-24-48px.svg');
  vertical-align: middle;
  margin: 0 30px 0 0;
}
.ux-lib .main-item .icon-Carousels {
  background-image: url('https://static.scania.com/resources/icons/scania/SVG_POS/20_Job_posting_info_Location_generic-24-48px.svg');
}
.ux-lib .main-item .icon-Contact {
  background-image: url('https://static.scania.com/resources/icons/scania/SVG_POS/72_See details-24-48px.svg');
}
.ux-lib .main-item .icon-Content_Teasers,
.ux-lib .main-item .icon-Content {
  background-image: url('https://static.scania.com/resources/icons/scania/SVG_POS/59_TMA-24-48px.svg');
}
.ux-lib .main-item .icon-Find_a_dealer,
.ux-lib .main-item .icon-Find {
  background-image: url('https://static.scania.com/resources/icons/scania/SVG_POS/01_Find_a_dealer-24-48px.svg');
}
.ux-lib .main-item .icon-Listing_Components,
.ux-lib .main-item .icon-Listing {
  background-image: url('https://static.scania.com/resources/icons/scania/SVG_POS/72_See details-24-48px.svg');
}
.ux-lib .main-item .icon-Navigation {
  background-image: url('https://static.scania.com/resources/icons/scania/SVG_POS/02_Icon_search-24-48px.svg');
}
.ux-lib .main-item .icon-Tables_Forms,
.ux-lib .main-item .icon-Tables {
  background-image: url('https://static.scania.com/resources/icons/scania/SVG_POS/74_Warranty-24-48px.svg');
}
.ux-lib .component {
  padding: 20px;
}
.ux-lib .component:nth-child(5) {
  clear: left;
}
.ux-lib .component span {
  display: block;
}
.ux-lib .icon-info {
  color: #000;
  font-size: 1.2em;
}
.ux-lib .collapsed .icon-info {
  color: #aaa;
}