<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta charset="utf-8">
    <noscript>
      <meta http-equiv="refresh" content="0;url=https://static.scania.com/vendors/components/pure-js/nonJS-browsers/1.0.0/nonJS-browsers.html">
    </noscript>

    <title>Corporate UI - Developers</title>

    <script src="https://static.scania.com/vendors/frameworks/jQuery/1.11.3/jquery-1.11.3.min.js"></script> 

    <script src="https://5c5050e66adb070007c2761f--peaceful-poitras-f0d571.netlify.com/dist/js/corporate-ui.js"></script>
    
    <script src="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"></script>
    <link rel="import" href="scania-doc/scania-doc.html">

    <link rel="stylesheet" href="/corporate-ui-docs/ux-lib.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">     

    <link rel="import" href="https://static.scania.com/build/global/3.2.1-CF/components/fullscreen/fullscreen.html">


    <script>

        setTimeout(function(){  
          $("pre.demo-component").appendTo("#html-code .jQueryAppendToContainer");
          $("pre.demo-component").css("display","block");

          // $("h3[id^='variation-']").remove();
          $("h3[id^=variation-] + p").remove();
          $(".codeheader").remove();


          $("#example section.summary .container-fluid marked-element .markdown-html:first-child > p").appendTo("#usage .jQueryAppendToContainer");

          $("#example section.summary .container-fluid marked-element .markdown-html > h3#combinations + p").appendTo("#usage .jQueryAppendToContainer");

          $("#example section.summary .container-fluid marked-element .markdown-html p").appendTo("#usage .jQueryAppendToContainer");

          $("#example section.summary .container-fluid marked-element .markdown-html > h3#combinations ").remove();

          $("#example section.summary").css("display","block");


          $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
          });


        }, 700);

    </script>

    <style>

      pre code {
        padding: 0;
        font-size: 14px;
        font-family: 'Roboto Mono';
      }

      pre {
        background-color: #f8f8f8;
      }      

      #example section.summary {
        display:none;
      }

      #example h3[id^='variation-'] {
        font-size: 20px;
        border-bottom: 2px solid #94A596;
        padding-bottom: 5px;
        text-align: left;
        font-family: 'Scania Sans Condensed';
        margin-bottom: 30px;
      }

      teaser-item .teaser-info.teaser-item h2 {
          font-size: 20px;
      }

    </style>  

  </head>
  <body data-env="Test" class="scania app ux-lib">

  <c-corporate-header site-name="UX Library" site-url="/corporate-ui-docs/">
    <nav-item location="/corporate-ui-docs/developer/support.html">Support</nav-item>
    <nav-item location="https://github.com/scania/corporate-ui">GitHub</nav-item>
  </c-corporate-header>
  
  <c-main-content>
    <c-main-navigation>
      <primary-items>
        <nav-item location="/corporate-ui-docs/">Home</nav-item>
        <nav-item location="/corporate-ui-docs/styleguide/">Style Guide</nav-item>            
        <nav-item location="/corporate-ui-docs/developer/" class="active">Web Applications
          <sub-navigation caption="Web Applications">
            <nav-item location="/corporate-ui-docs/developer/">Corporate UI</nav-item>
            <nav-item location="/corporate-ui-docs/developer/corporate-ui-for-frameworks.html">JS Frameworks</nav-item>
            <nav-item location="/corporate-ui-docs/developer/bootstrap-original-docs.html">Scania Bootstrap</nav-item>            
            <nav-item location="/corporate-ui-docs/component/index.html">Components</nav-item>
            <nav-item location="/corporate-ui-docs/developer/support.html">Support</nav-item>
          </sub-navigation>
        </nav-item>
        <nav-item location="/corporate-ui-docs/mobile-apps/">Mobile Apps</nav-item>
      </primary-items>
      <secondary-items>
        <nav-item>
          <c-fullscreen></c-fullscreen>
        </nav-item>
      </secondary-items>
    </c-main-navigation>

      <section class="light">
        <div class="container-fluid app">
          <ul class="nav nav-tabs">
            <li><a href="/corporate-ui-docs/component/" class="back"><i class="icon-angle-left"></i> Back</a></li>
            <li class="active"><a data-toggle="tab" href="#example">Example</a></li>
            <li><a data-toggle="tab" href="#usage">About</a></li>
            <li><a data-toggle="tab" href="#html-code">Code</a></li>                  
          </ul>
          <ul class="nav nav-tabs nav-tabs-light container">
            <li class="app-styling"><a href="#">Application Styling</a></li>
            <li class="active public-styling"><a href="#">Public Site Styling</a></li>   
          </ul>
        </div>
        <div class="container-fluid">     

          <div class="tab-content">

            <div id="example" class="tab-pane fade in active">
              <scania-doc></scania-doc>
            </div>

            <div id="usage" class="tab-pane fade app">
              <section class="margin-top">
                <div class="jQueryAppendToContainer"></div>
              </section>  
            </div>

            <div id="html-code" class="tab-pane fade app">
              <h2>Code Sample</h2>
              <div class="jQueryAppendToContainer"></div>
              <p>Copy the code and paste it in your <a href="/corporate-ui-docs/template/basic-template-app.html" download>basic template for applications</a> or the <a href="/corporate-ui-docs/template/basic-template.html" download>this basic template for public sites</a>. Depending on what template you're using, the component will get different styling applied to it.</p>
            </div>

          </div>
        </div> 
      </section>
    </c-main-content>

    <c-corporate-footer></c-corporate-footer>
  
<script>

      var html_root = 'https://static.scania.com/build/global/' + window['CorporateUi'].version + '/components',
      component = CorporateUi.getUrlParameter('c'),
      path = [html_root, component, component].join('/') + '.html';

      if (document.querySelectorAll('link[href$="' + component + '.html"]').length === 0) {
        CorporateUi.importLink(path, 'import');
      }

      var docElm = document.querySelector('scania-doc')
      docElm.setAttribute('for', CorporateUi.getUrlParameter('c'));
      docElm.setAttribute('src', path);




    </script>

    <script src="https://static.scania.com/build/global/3.4.0-CF/js/ux-library.js"></script>
    <script src="/corporate-ui-docs/ux-lib.js"></script>   

    <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <link rel="stylesheet"
        href="https://highlightjs.org/static/demo/styles/github.css">        
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>



  </body>
</html>
