/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
#bootstrap-javascript-section {
  /* Code blocks */
  /* Inline code */
}
#bootstrap-javascript-section code[class*="language-"],
#bootstrap-javascript-section pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
#bootstrap-javascript-section pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}
#bootstrap-javascript-section :not(pre) > code[class*="language-"],
#bootstrap-javascript-section pre[class*="language-"] {
  background: #272822;
}
#bootstrap-javascript-section :not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}
#bootstrap-javascript-section .token.comment,
#bootstrap-javascript-section .token.prolog,
#bootstrap-javascript-section .token.doctype,
#bootstrap-javascript-section .token.cdata {
  color: slategray;
}
#bootstrap-javascript-section .token.punctuation {
  color: #f8f8f2;
}
#bootstrap-javascript-section .namespace {
  opacity: .7;
}
#bootstrap-javascript-section .token.property,
#bootstrap-javascript-section .token.tag,
#bootstrap-javascript-section .token.constant,
#bootstrap-javascript-section .token.symbol,
#bootstrap-javascript-section .token.deleted {
  color: #f92672;
}
#bootstrap-javascript-section .token.boolean,
#bootstrap-javascript-section .token.number {
  color: #ae81ff;
}
#bootstrap-javascript-section .token.selector,
#bootstrap-javascript-section .token.attr-name,
#bootstrap-javascript-section .token.string,
#bootstrap-javascript-section .token.char,
#bootstrap-javascript-section .token.builtin,
#bootstrap-javascript-section .token.inserted {
  color: #a6e22e;
}
#bootstrap-javascript-section .token.operator,
#bootstrap-javascript-section .token.entity,
#bootstrap-javascript-section .token.url,
#bootstrap-javascript-section .language-css .token.string,
#bootstrap-javascript-section .style .token.string,
#bootstrap-javascript-section .token.variable {
  color: #f8f8f2;
}
#bootstrap-javascript-section .token.atrule,
#bootstrap-javascript-section .token.attr-value,
#bootstrap-javascript-section .token.function {
  color: #e6db74;
}
#bootstrap-javascript-section .token.keyword {
  color: #66d9ef;
}
#bootstrap-javascript-section .token.regex,
#bootstrap-javascript-section .token.important {
  color: #fd971f;
}
#bootstrap-javascript-section .token.important,
#bootstrap-javascript-section .token.bold {
  font-weight: bold;
}
#bootstrap-javascript-section .token.italic {
  font-style: italic;
}
#bootstrap-javascript-section .token.entity {
  cursor: help;
}


