<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>

	<title>Edit document</title>
  <script src="https://static.scania.com/vendors/components/pure-js/browser-reject/1.0.0/js/browser-reject.js"></script>

	<script src="https://static.scania.com/resources/logotype/favicon/favicons.js"></script>

	<script src="https://5c5050e66adb070007c2761f--peaceful-poitras-f0d571.netlify.com/dist/js/corporate-ui.js"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113165423-1"></script>  
  <script src="/corporate-ui-docs/js/google-analytics.js"></script>  

  <script src="https://5c5050e66adb070007c2761f--peaceful-poitras-f0d571.netlify.com/dist/js/corporate-ui.js"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113165423-1"></script>  
  <script src="/corporate-ui-docs/js/google-analytics.js"></script>  

         







	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css"><link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" /><link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/css/froala_style.min.css" rel="stylesheet" type="text/css" /></head>

	<style>
		c-corporate-header {
			position: fixed;
			top:0;
			left:0;
			width:100%;
			z-index:900;
		}

		span.variant-code {
			font-family: 'Scania Sans Headline';
			letter-spacing: 0.05rem; 
			font-size: 22px;
			color: #041e42;
		}

		span.variant-code strong {
			font-family: 'Scania Sans Headline Bold';
			font-size: 28px;
			margin-left: 8px
		}

		body {
			text-align: center;
			margin: 0;
			margin-top:100px;
			background: gray;
		}

		div#editor {
			width: 1200px;
			padding: 80px 80px 60px;
			margin: auto;
			background: white;
			text-align: left;
			min-height: 1800px;
			margin-bottom: 40px;
		}

		.fr-wrapper {
			margin-top: 50px;
		}

		html body div#editor a[target='_blank'] {display:none !important;}

	</style>

  	<link rel="stylesheet" href="/corporate-ui-docs/ux-lib.css">

</head>
<body data-env="Test" class="scania">


	<c-corporate-header site-name="Edit document" site-url="/corporate-ui-docs/">
		<nav-item location="#" class="spinner">Save</nav-item>
		<nav-item location="start.html" class="exit">Exit</nav-item>
	</c-corporate-header>

	<c-main-content class="app">


		<div id="editor">
			<img src="https://static.scania.com/resources/logotype/scania/scania-wordmark.svg" width="169px" height="28px" style="position: absolute;top: 179px;left: -428px;">
			<div style="float:right">
				<table class="table table-striped"  style="width:300px;">
					<tbody>
						<tr>
							<td>Variant Code</td>
							<td>0031C without</td>    
						</tr>
						<tr>
							<td>Product type</td>
							<td>Engine</td>    
						</tr>
						<tr>
							<td>Release date</td>
							<td>2016-08-23</td>    
						</tr>
						<tr>
							<td>Valid from</td>
							<td>2016-10-13</td>    
						</tr>
					</tbody>
				</table>   
			</div>	


			<div id='edit1' style="margin-top: 30px; clear:both" spellcheck="spellcheck" lang="en">
 

					<h1>General Information</h1>
					<p>Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. When you highlight any of this text, a toolbar with available options will be visible. Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor.</p>

				</div>

				<div id="edit2">
					<img class="fr-fir fr-dii" src="images/DIG0023.jpg" alt="Placeholder Image" width="150" style="width: 516px;
					height: 345.496px;"/>
					<h3>Technical Description</h3>
					<p>Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. When you highlight any of this text, a toolbar with available options will be visible. Some Lorem Ipsum text to spice things up. Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. Some Lorem Ipsum text to spice things up.  Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor.</p>
				</div>

				<div id="edit3">
					<h3>What section goes here Stefan?</h3>
					<p>Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. When you highlight any of this text, a toolbar with available options will be visible. Some Lorem Ipsum text to spice things up. Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. Some Lorem Ipsum text to spice things up.  Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor.</p>
				</div>


				<div id="edit4">
					<img class="fr-fir fr-dii" src="images/05283-002.jpg" alt="Placeholder Image" style="width: 300px;
					height: auto;float:left; margin-right: 20px;margin-bottom:40px;"/>
					<h3>What section goes here Stefan?</h3>
					<p>Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. When you highlight any of this text, a toolbar with available options will be visible. Some Lorem Ipsum text to spice things up. Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. Some Lorem Ipsum text to spice things up.  Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor.</p>
				</div>

				<div id="edit5">
					<h3>What section goes here Stefan?</h3>
					<p>Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. When you highlight any of this text, a toolbar with available options will be visible. Some Lorem Ipsum text to spice things up. Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. Some Lorem Ipsum text to spice things up.  Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor. Replace this text with whatever you want to add. Just mark me and edit just as you would in your everyday word processor.</p>
				</div>

			</div>
		</c-main-content>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0//js/froala_editor.pkgd.min.js"></script>


		<script>
			$(function(){
				$('#edit1, #edit2,#edit3, #edit4, #edit5').froalaEditor({
					toolbarInline: true,
					spellcheck: false,
					toolbarButtons: ['bold', 'italic', 'insertImage', '-', 'paragraphFormat', 'align', 'formatOL', 'formatUL', '-', 'undo', 'redo'],
					toolbarButtonsXS: null,
					toolbarButtonsSM: null,
					toolbarButtonsMD: null
				})
			});

		</script>




  		<script src="/corporate-ui-docs/ux-lib.js"></script>
	</body>
	</html>

